# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# OBSE
common/
obse/
obse_plugin_example/
obse.ini
obse_command_doc.html
obse_whatsnew.txt
README.MD

# Releases
Release/
Debug/

# VS
.vs/
*.yml

# external
include/
library/
